
body {
  margin: 0;
}
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: #FF8E3D;
}


.login-container {
  width: 800px;
  height: 500px;
 
  background-color: black;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
  padding: 40px;

  box-sizing: border-box;
}


.login-logo {
  width: 240px;
  height: auto;
  background-color: black;
}


.login-form {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;
}


.login-input {
  width: 100%;

  padding: 12px;

  border-radius: 8px;

  border: 1px solid #444;

  background-color: #1f1f1f;

  color: white;

  font-size: 16px;
}


.login-input:focus {
  outline: none;
  border-color: #ff8e3d;
  box-shadow: 0 0 0 2px rgba(255, 142, 61, 0.2);
}



.btn-login {
  width: 192px;
  height: 48px;
  

  border: none;

  border-radius: 8px;

  background-color: #ff8e3d;

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.btn-login:hover {
  opacity: 0.9;
}


.cadastro-link {
  display: block;
  text-align: center;
  background-color: black;
  font-size: 14px;

  color: #bdbdbd;

  text-decoration: none;
  width: 100%;
}

.cadastro-link:hover {
  color: white;
}