.not-found-text {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.not-found {

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 10px;
    text-decoration: none;
    width: 100%;


}

.not-found:hover {
    color: white;
    text-decoration: underline;
}